{% extends 'base.html.twig' %}

{% block title %}Livres{% endblock %}
{% set headerh1 = 'Les livres' %}
{% set headerh5 = 'Cette page regroupe liste tous les livres actuellement disponibles à l\'emprunt.' %}
{% set headerp = 'Vous avez un nouveau livre? Ajoutez-le ici : ' %}
{% set headerbtntext = 'Ajouter un livre' %}
{% set headerbtnlink = '/ajout/livre' %}
{% block body %}


{% include './layout/header.html.twig' %}


<main id="react-livres">
    <section class="container">
        <h2>Tous les livres : </h2>
        <form class="recherche-livres">
            <div class="form-group">
                <input type="text" class="form-control" id="recherche" placeholder="Recherche" />
            </div>
        </form>
    </section>
    <section>
        <div class="containerParallax">
            <div id="livresBg" class="parallaxElement parallaxBack">
            </div>
            <div class="parallaxElement parallaxBase">
                <div class="container">
        
                    <div class="card-deck">
                        {% for livre in liste_livres %}
                            {% include "layout/cardLivre.html.twig" %}
                        {% endfor %}
                        
                        <div class="paginationElementLoader"><button class="btn btn-primary">Charger plus de livres</button></div>
                    </div>
                </div>
            </div>
        </div>

    </section>

</main>
{% include './layout/footer.html.twig' %}
{% endblock %}