/*media Queries pour nombre de colonnes sur les cards de la home*/

@media (min-width: 576px) { 
    .card-deck .card {
        min-width:calc(50% - 30px);
        max-width:calc(50% - 30px);
    }
    .card-columns {
        -webkit-column-count:2;
        -moz-column-count:2;
        column-count:2;
    }
}
@media (min-width: 768px) {
    .card-deck .card {
        min-width:calc(33.33% - 30px);
        max-width:calc(33.33% - 30px);
    }
    .card-columns {
        -webkit-column-count:3;
        -moz-column-count:3;
        column-count:3;
    }
    main section#detailsLivre img{
        margin-top:-218px;
    }
}
@media (min-width: 992px) {
    .card-deck .card {
        min-width:calc(25% - 30px);
        max-width:calc(25% - 30px);
    }
    .card-columns {
        -webkit-column-count:4;
        -moz-column-count:4;
        column-count:4;
    }
}