$colorThemeDark:#292726;
$colorThemeOrange:#fd7e14;
$colorThemeClear:#f6f5f5;
$colorThemeClearTransparent:rgba(246, 245, 245, 0.5);

* {
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    transition: all 0.2s ease 0s;
}
a:hover {
    text-decoration: none;
}
body{
    font-family: 'Libre Baskerville', sans-serif;
    color:$colorThemeClear;
    background-color:$colorThemeDark;
    
    h1, h2, h3, h4, h5, h6{
        font-family:'Oswald', sans-serif;
        font-weight:200;
        line-height:1.75em;
        text-transform: uppercase;
    }

    h1{font-size:4rem;line-height:2em;margin:0;}
    h2{font-size:3.5rem;}
    h3{font-size:3rem;}
    h4{font-size:2.5rem;}
    h5{font-size:2rem;}
    h6{font-size:1.5rem;}

    .italic{font-style:italic;}
    .light{font-weight:300;}
    .bold{font-weight: 600;}

    small, p{line-height:1.75em;}
    small {font-size:75%;}
    table{width:100%; max-width:500px;border-collapse: collapse;}
    th, td{padding:10px;border:1px solid $colorThemeDark;}
    th{background-color:#f6f5f588;} 
    
    .alert-container{
        padding-bottom:10px;
        .alert{ 
            
            &.alert-primary{
                background-color: rgba(253, 126, 20, 77);
                border-color: $colorThemeOrange;
                color:$colorThemeDark;
                a{
                    color:$colorThemeClear;}
            }
        }
    }
    form{
        .btn{padding:4px 12px;}
        .custom-file-label::after { 
            content:'Parcourir';
        }
    }
    .btn{
        font-family:'Oswald', sans-serif;
        font-size:1.2rem;
        text-transform: uppercase;
    }

    /*fix colors btn bootstrap */
    .btn-primary:focus, .btn-primary.focus,
    .btn-primary.disabled, .btn-primary:disabled,
    .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
    .show > .btn-primary.dropdown-toggle,
    .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
    .show > .btn-primary.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem #fd7e14aa;
        border-color:$colorThemeOrange;
    }
    a:hover{color:darken($colorThemeOrange, 20%);}
    section{
        padding-top:30px;
    }
    /*form login*/
    #hpLogin{
        margin-top:18px;
        background-color: #f6f5f577;
        padding: 15px;
        border-radius: 5px;
    }
    /*==============================*/
    /*=========== HEADER ===========*/
    /*==============================*/
    header{
        padding-bottom:100px;
        &#headerLivres{
            min-height:0;
            /*h1:after{
                content:'';
                width:100px;
                height:3px;
                background-color: $colorThemeOrange;
                display:block;
            }*/
        }
        &#headerPage404{
            height:100vh;
        }
        article{
            p{margin-top:24px;}
            .btn{margin:30px 0;}
        } 
        .layoutHeader2{
            h1{line-height:1.5em;}
        }
        .navbar{
            padding-left:0;
            padding-right:0;
            font-family:'Oswald', sans-serif;
            font-weight:300;

            .navbar-brand{
                font-size:3rem;
                line-height: 4rem;
                text-transform: uppercase;
                font-weight:300;
            }

            .navbar-toggler{
                border-color:#f6f5f588;
                color: $colorThemeClear;
            }

            #navbarSupportedContent{
                justify-content:end;
                .navbar-nav{
                    .nav-link{font-size:1.5rem;}
                    .nav-link:hover,
                    .nav-link:focus{color:$colorThemeClear;}
                }
            }
            .nav-item{
                &.dropdown{
                    .dropdown-menu{
                        background-color:transparent;
                        border:none;
                        border-radius:0;
                        .dropdown-item{
                            color: $colorThemeClearTransparent;
                            font-weight: 300;
                            font-size: 1.5rem;
                            padding-left:0.4rem;
                            &:hover,&:active,&:focus{
                                background-color:transparent;
                                color: $colorThemeClear;
                            }
                        }
                    }
                }
                .nav-link{color: $colorThemeClearTransparent;}
            }
        }
        section{
            padding-top:0px !important; 
        }
        
    }
    /*==============================*/
    /*============ MAIN ============*/
    /*==============================*/
    main{
        background-color:$colorThemeDark;
        padding-bottom:20px;

        /*soulignement orange sur titres h2*/
        h2:after{
            content:'';
            width:100px;
            height:3px;
            background-color: $colorThemeOrange;
            display:block;
            margin-bottom: 30px;
        }

        section{
            /*cards bootstrap*/
            .card-columns,
            .card-deck{
                padding:30px 0 0 0;
            }
            
            .card{
                .card-subtitle{
                    color:$colorThemeOrange;
                }

                h5{
                    color:$colorThemeDark;
                    line-height:1.25em;
                }

                img{
                    object-fit: cover;
                    width: 100%;
                    height: 300px;
                    object-position: top;
                }

                p{
                    color:$colorThemeDark;
                }

                .card-body{
                    .btn{
                        margin:0px 5px 10px 0;
                    }
                }
            }
            /*mods carousel pour homepage*/
            .carousel-inner{
                .carousel-item{
                    padding:20px 0;

                    .carousel-caption{
                        display:block !important;

                        img{
                            max-width:250px;
                            margin:auto;
                        }
                    }

                    > img{
                        height:600px;
                    }
                }
                
            }
            .derniersAjouts{
                background-color:$colorThemeDark;
            }
            #listeCategories{
                li{
                    /*display:inline-block;*/
                    a{
                        font-family:'Oswald', sans-serif;
                        font-size:1.5rem;
                        font-weight:200;
                        line-height:1.75em;
                        text-transform: uppercase;
                        padding:15px 15px 15px 0;
                    }
                } 
            } 
            .paginationElementLoader{
                display: flex;
                width: 100%;
                align-content: center;
                justify-content: center;
                padding: 0 0 30px 0;

            }
            &#detailsLivre, &#detailsAuteur{
                img{
                    width:100%;
                    vertical-align: top;
                }
                small{
                    margin-bottom:1rem;
                }
            }
            &#detailsAuteur{
                img{
                    height:300px;
                    object-fit: cover;
                    object-position: top;
                }
            }
            .recherche-livres{
                .form-group{
                    position: relative;
                    #recherche, #triLivres{
                        margin: 0 !important;
                    }
                    ul#searchSuggestions{
                        list-style:none;
                        padding:0px;
                        background-color: $colorThemeClear;
                        position: absolute;
                        width:100%;
                        z-index:2;
                        li a{
                            color: $colorThemeDark;
                            padding:6px 12px;
                            display:block;
                            &:hover{
                                background-color: $colorThemeOrange;
                                color: $colorThemeClear;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
        .mes-livres-container{
            margin:0 -10px 0 -10px;
            display:flex;
            flex-wrap: wrap;
            .mes-livres{
                width:calc(50% - 20px);
                margin:10px;
                display: flex;
                flex-flow: column;
            }
        }
        .admin-utilisateurs-container{
            .media-content{
                a{float:right;}
            }
        }
        .media-body{
            display:flex;
            padding:20px 1.25rem;
            .media-content{
                flex-flow:column;
            }
        }
        .media-footer{
            padding: 0.75rem 1.25rem;
            background-color: rgba(0, 0, 0, 0.03);
            border-top: 1px solid rgba(0, 0, 0, 0.125);
            align-self: end;
            width: 100%;
        }
        .media{
            background-color: $colorThemeClear;
            margin:20px 0;
            color: $colorThemeDark;
            border-radius: 0.25rem;
            display:block;
            figure{
                height: auto;
                margin-bottom:0;
                min-width:150px;
                max-width:150px;
                img{
                    object-fit: cover;
                    width: 100%;
                    height: 250px;
                    object-position: top;
                    margin-bottom:0;
                }
            }
            h5,p{color: $colorThemeDark;}
        }
        select *.formOption{font-family: 'Libre Baskerville', sans-serif;}
    }
    /*===============================*/
    /*============FOOTER ============*/
    /*===============================*/
    footer{
        background:$colorThemeDark;
        padding:30px 0;
        form{
            margin-bottom:30px;
        }
    }
}

