* {
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  transition: all 0.2s ease 0s;
}

a:hover {
  text-decoration: none;
}

body {
  font-family: 'Libre Baskerville', sans-serif;
  color: #f6f5f5;
  background-color: #292726;
  /*fix colors btn bootstrap */
  /*==============================*/
  /*=========== HEADER ===========*/
  /*==============================*/
  /*==============================*/
  /*============ MAIN ============*/
  /*==============================*/
  /*===============================*/
  /*============FOOTER ============*/
  /*===============================*/
}

body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  line-height: 1.75em;
  text-transform: uppercase;
}

body h1 {
  font-size: 4rem;
  line-height: 2em;
  margin: 0;
}

body h2 {
  font-size: 3.5rem;
}

body h3 {
  font-size: 3rem;
}

body h4 {
  font-size: 2.5rem;
}

body h5 {
  font-size: 2rem;
}

body h6 {
  font-size: 1.5rem;
}

body .italic {
  font-style: italic;
}

body .light {
  font-weight: 300;
}

body .bold {
  font-weight: 600;
}

body small, body p {
  line-height: 1.75em;
}

body table {
  width: 100%;
  max-width: 500px;
  border-collapse: collapse;
}

body th, body td {
  padding: 10px;
  border: 1px solid #292726;
}

body th {
  background-color: #f6f5f588;
}

body form .alert-primary {
  background-color: #fd7e14;
  border-color: #fd7e14;
  color: #292726;
}

body form .alert-primary a {
  color: #f6f5f5;
}

body form .btn {
  padding: 4px 12px;
}

body form .custom-file-label::after {
  content: 'Parcourir';
}

body .btn {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
}

body .btn-primary:focus, body .btn-primary.focus,
body .btn-primary.disabled, body .btn-primary:disabled,
body .btn-primary:not(:disabled):not(.disabled):active, body .btn-primary:not(:disabled):not(.disabled).active,
body .show > .btn-primary.dropdown-toggle,
body .btn-primary:not(:disabled):not(.disabled):active:focus, body .btn-primary:not(:disabled):not(.disabled).active:focus,
body .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #fd7e14aa;
  border-color: #fd7e14;
}

body a:hover {
  color: #aa4e01;
}

body section {
  padding-top: 30px;
}

body header {
  padding-bottom: 100px;
  /*form login*/
}

body header#headerLivres {
  min-height: 0;
  /*h1:after{
                content:'';
                width:100px;
                height:3px;
                background-color: $colorThemeOrange;
                display:block;
            }*/
}

body header#headerPage404 {
  height: 100vh;
}

body header article p {
  margin-top: 24px;
}

body header article .btn {
  margin: 30px 0;
}

body header #hpLogin {
  margin-top: 18px;
  background-color: #f6f5f577;
  padding: 15px;
  border-radius: 5px;
}

body header .layoutHeader2 h1 {
  line-height: 1.5em;
}

body header .navbar {
  padding-left: 0;
  padding-right: 0;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

body header .navbar .navbar-brand {
  font-size: 3rem;
  line-height: 4rem;
  text-transform: uppercase;
  font-weight: 300;
}

body header .navbar .navbar-toggler {
  border-color: #f6f5f588;
  color: #f6f5f5;
}

body header .navbar #navbarSupportedContent {
  justify-content: end;
}

body header .navbar #navbarSupportedContent .navbar-nav .nav-link {
  font-size: 1.5rem;
}

body header .navbar #navbarSupportedContent .navbar-nav .nav-link:hover,
body header .navbar #navbarSupportedContent .navbar-nav .nav-link:focus {
  color: #f6f5f5;
}

body header .navbar .nav-item.dropdown .dropdown-menu {
  background-color: transparent;
}

body header .navbar .nav-item.dropdown .dropdown-menu .dropdown-item {
  color: rgba(246, 245, 245, 0.5);
  font-weight: 300;
  font-size: 1.5rem;
  padding-left: 0.4rem;
}

body header .navbar .nav-item.dropdown .dropdown-menu .dropdown-item:hover, body header .navbar .nav-item.dropdown .dropdown-menu .dropdown-item:active, body header .navbar .nav-item.dropdown .dropdown-menu .dropdown-item:focus {
  background-color: transparent;
  color: #f6f5f5;
}

body header .navbar .nav-item .nav-link {
  color: rgba(246, 245, 245, 0.5);
}

body header section {
  padding-top: 0px !important;
}

body main {
  background-color: #292726;
  /*soulignement orange sur titres h2*/
}

body main h2:after {
  content: '';
  width: 100px;
  height: 3px;
  background-color: #fd7e14;
  display: block;
  margin-bottom: 30px;
}

body main section {
  /*cards bootstrap*/
  /*mods carousel pour homepage*/
}

body main section .card-columns,
body main section .card-deck {
  padding: 30px 0 0 0;
}

body main section .card .card-subtitle {
  color: #fd7e14;
}

body main section .card h5 {
  color: #292726;
  line-height: 1.25em;
}

body main section .card img {
  object-fit: cover;
  width: 100%;
  height: 300px;
  object-position: top;
}

body main section .card p {
  color: #292726;
}

body main section .card .card-body .btn {
  margin: 0px 5px 10px 0;
}

body main section .carousel-inner .carousel-item {
  padding: 20px 0;
}

body main section .carousel-inner .carousel-item .carousel-caption {
  display: block !important;
}

body main section .carousel-inner .carousel-item .carousel-caption img {
  max-width: 250px;
  margin: auto;
}

body main section .carousel-inner .carousel-item > img {
  height: 600px;
}

body main section .derniersAjouts {
  background-color: #292726;
}

body main section #listeCategories li {
  /*display:inline-block;*/
}

body main section #listeCategories li a {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 1.75em;
  text-transform: uppercase;
  padding: 15px 15px 15px 0;
}

body main section .paginationElementLoader {
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: center;
  padding: 0 0 30px 0;
}

body main section#detailsLivre img, body main section#detailsAuteur img {
  width: 100%;
  vertical-align: top;
}

body main section#detailsLivre small, body main section#detailsAuteur small {
  margin-bottom: 1rem;
}

body main section#detailsAuteur img {
  height: 300px;
  object-fit: cover;
  object-position: top;
}

body main section .recherche-livres .form-group {
  position: relative;
}

body main section .recherche-livres .form-group #recherche, body main section .recherche-livres .form-group #triLivres {
  margin: 0 !important;
}

body main section .recherche-livres .form-group ul#searchSuggestions {
  list-style: none;
  padding: 0px;
  background-color: #f6f5f5;
  position: absolute;
  width: 100%;
  z-index: 2;
}

body main section .recherche-livres .form-group ul#searchSuggestions li a {
  color: #292726;
  padding: 6px 12px;
  display: block;
}

body main section .recherche-livres .form-group ul#searchSuggestions li a:hover {
  background-color: #fd7e14;
  color: #f6f5f5;
  cursor: pointer;
}

body main .mes-livres-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px 0 -10px;
}

body main .mes-livres-container .mes-livres {
  width: calc(50% - 20px);
  margin: 10px;
}

body main .mes-livres-container .mes-livres figure {
  max-width: 120px;
}

body main .mes-livres-container .mes-livres figure img {
  height: auto;
  max-height: 200px;
}

body main .media {
  background-color: #f6f5f5;
  padding: 20px;
  margin: 20px 0;
  color: #292726;
  border-radius: 0.25rem;
}

body main .media figure {
  max-width: 200px;
  width: auto;
  height: auto;
  margin-bottom: 0;
}

body main .media figure img {
  object-fit: cover;
  width: 100%;
  height: 250px;
  object-position: top;
  margin-bottom: 0;
}

body main .media h5, body main .media p {
  color: #292726;
}

body main select *.formOption {
  font-family: 'Libre Baskerville', sans-serif;
}

body footer {
  background: #292726;
  padding: 30px 0;
}

body footer form {
  margin-bottom: 30px;
}
