<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} | Bouquins</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
        <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Oswald:wght@300;400;600&display=swap" rel="stylesheet">
        {% block css %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body id={{ "page" ~ block('title') }}>
        <div class="containerParallax">
            <div id="headerBg" class="parallaxElement parallaxBack">
            </div>
            <div class="parallaxElement parallaxBase">
                {% block body %}{% endblock %}



                {% block js %}
                    {{ encore_entry_script_tags('app') }}
                {% endblock %}
            </div>
        </div>
    </body>
</html>
